html,body{
    height: 100%;
    margin: 0;
    padding: 0 0 120px 0;
}

h1, h2 {
    color: #373737;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: -999em;
    left: -999em;
    width: 100%;
    height: 100%;
    display: table;
    background: #fff;
    -webkit-animation: splash 3s forwards;
    animation: splash 3s forwards;
}
.overlay-inner {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -3px rgba(180,180,180,0.5);
    text-align: center;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.nav-item a:hover {
    color: #e67e22 !important;
}
.navbar-nav {
    float:none;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
}
/* Reduce nav padding for small screens */
@media only screen and (max-width: 400px) {
    .navbar-nav > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
}
.affix {
    bottom: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-bottom: 70px;
}
@media (max-width: 979px) {
    .x-navbar-fixed-top, .x-navbar-fixed-left, .x-navbar-fixed-right {
        position: fixed;
    }
}
/* from the Fleet Pond website CSS */
a:link, a:visited {
    color: #070;
    text-decoration: none;
}

/* from the Fleet Pond website CSS */
body {
    font-family: "Open sans", arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #373737;
    background-color: #f0fff0;
    position: relative;
    height: 100%;
}
/* end */
.poi-image {
    width: 100%;
    object-fit: contain;
}
#pond-image {
    height: auto;
    width: auto;
}
#mapScroller {
    overflow: auto;
    max-width: 100%;
    max-height: 600px;
}

.card {
    -webkit-box-shadow: 3px 3px 4px 2px #BBB;
    box-shadow: 3px 3px 4px 2px #BBB;
    margin-bottom: 20px;
    background-color: #fff;
}

.cardText {
    padding: 10px;
    color: #373737;
}

/* POI CSS */
.pointOfInterest{
    max-width: 100%;

}

.poiText > b, .poiText > p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.poiText > i {
    margin-right: 5px;
}

.poiPic {
    float: left;
    margin-right: 10px;
}

.poiPic > img {
    height: 95px;
}

.slider-control {
    color: white;
}

.clear {
    clear: both;
}

.redRoute {
    color: #f00;
}

.yellowRoute {
    color: #ee4;
}

.blueRoute {
    color: #00f;
}

.greenRoute {
    color: #080;
}

.brownRoute {
    color: #841;
}

#mapFrame {
    height: calc(100vh);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#map {
    height: 100%;
    width: 100%;
}

.floating-panel {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    padding: 2px 10px;
    border: 1px solid rgb(207, 207, 207);
    text-align: left;
    bottom: 85px;
    font-family: 'Roboto','sans-serif';
    line-height: 20px;
    font-size: 12px;
    width: 110px;
}

.floating-panel span.title, #floating-panel1 span.title {
    font-family: 'Roboto','sans-serif';
    font-weight: bold;
}

#selectorButton {
    line-height: 16px;
    font-size: 12px;
}

.tab-pane {
    padding-bottom: 85px;
}

#selected-points-of-interest {
    padding-bottom: 0px;
}

#iconShowHide {
    color: #000;
    font-size: 1.5em;
    padding-left: 35px;
}

.active {
    transition-delay: 0.2s;
}

#navigate-pois{
    display: inline-block;
    margin: 10px 0 0 0;
    width: 100%;
}

.float {
    float: left;
    min-height: 1px;
}

.switch-poi {
    width: 25%;
}

#current-poi {
    text-align: center;
    width: 50%;
}

.text-right {
    text-align: right;
}

#poi-heading {
    margin-top: 0px;
}

.available-routes {
    padding-right: 10px;
}

.half-width {
    width: 50%;
}

a {
    cursor: pointer;
}

#moveMap {
    background: none;
    border: none;
    right: 0;
    bottom: 202px;
    width:inherit;
}
#moveMap>button {
    background: white;
    opacity: 1;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}

.gps-buttons {
    display: none;
}

.offline-map {
    overflow: scroll;
    text-align: center;
}

.offline-map img {
    height: 1px;
}

/* GPS pulse ring */
@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.35);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.5);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.35);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.4);
        opacity: 0;
    }
}

#mapFrame div .gmnoprint[title="userLocation"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;

    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;

    -moz-box-shadow:inset 0 0 5px #09f, inset 0 0 5px #09f, inset 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f;
    -webkit-box-shadow:inset 0 0 5px #09f, inset 0 0 5px #09f, inset 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f;
    box-shadow:inset 0 0 5px #09f, inset 0 0 5px #09f, inset 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f, 0 0 5px #09f;

    height:62px!important;
    margin:-19px 0 0 -19px;
    width:62px!important;
}

#mapFrame div.gmnoprint[title="userLocation"] img {
    display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #mapFrame div.gmnoprint[title="userLocation"] {
        margin: -11px 0 0 -11px;
    }
}
